<!-- /components/navbar.html -->
<!DOCTYPE html>
<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">
                <img src="logo.png" alt="Pedi Medi - Podóloga en Tijuana">
            </a>
            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="clinica-tijuana.html">Clínica</a>
                    <ul class="dropdown-menu">
                        <li><a href="una-encarnada-tijuana.html">Uña Encarnada</a></li>
                        <li><a href="pedicure-clinico-tijuana.html">Pedicure Clínico</a></li>
                        <li><a href="tratamiento-pie-diabetico-tijuana.html">Pie Diabético</a></li>
                        <li><a href="curaciones-especializadas-tijuana.html">Curaciones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="spa-medico-tijuana.html">Spa Médico</a>
                    <ul class="dropdown-menu">
                        <li><a href="tratamiento-hongos-callos-tijuana.html">Hongos y Callos</a></li>
                        <li><a href="exfoliacion-hidratacion-tijuana.html">Exfoliación e Hidratación</a></li>
                        <li><a href="aromaterapia-tijuana.html">Aromaterapia</a></li>
                        <li><a href="spa-terapeutico-pies-tijuana.html">Spa Terapéutico</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="masaje-pies-tijuana.html">Masajes</a>
                    <ul class="dropdown-menu">
                        <li><a href="masaje-relajante-pies-tijuana.html">Masaje Relajante</a></li>
                        <li><a href="reflexologia-podal-tijuana.html">Reflexología Podal</a></li>
                        <li><a href="masaje-descontracturante-tijuana.html">Descontracturante</a></li>
                        <li><a href="hidromasaje-relajante-tijuana.html">Hidromasaje</a></li>
                    </ul>
                </li>
                <li><a href="https://wa.me/526646428552?text=Hola,%20me%20interesa%20agendar%20una%20cita%20para%20cuidado%20podológico" class="btn-contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>